$primary: rgb(146, 46, 46);

$theme-colors: (
    "primary": $primary
);
// @import '~bootstrap/scss/_variables.scss';
// @import '~bootstrap/scss/_root.scss';
@import '~bootstrap/scss/bootstrap.scss';

.nav-item {
    &.active {
        font-weight: bold;
        color: $primary !important;
    }
}

h1 {
    padding-top: 35px;
    margin-bottom: 50px;
    color: $primary;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color: $primary;
    font-weight: bold;
}

section {
    margin-bottom: 70px;
}