.coupon {
    height: 550px;
    background-color:#aaa;
    background-image: url('../../../media/coupon.jpg');
    position: relative;
    text-align: center;
}
.coupon .coupon-rounded {
    height:200px;
    width: 200px;
    border-radius: 180px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
}
.coupon .sub-coupon-1 {
    background-color:green;
    color:white;
    position: absolute;
    right:0;
}

.coupon .sub-coupon-3 {
    background-color:pink;
    position: absolute;
    bottom: 2;
    right: -5;
}

.coupon .coupon-thumbnail {
    height: 200px;
    width: 200px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transform: rotate(45deg);
}

.coupon .coupon-thumbnail * {
    transform: rotate(-45deg);
}