.inner-border {
    border: 2px solid black;
    background-repeat: no-repeat;
    background-size: cover;
}

.mid-border {
    border: 5px solid black;
}

.outer-border{
    border: 2px solid black;
    padding: 1px;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}