footer {
    padding-top: 50px;
    margin-top: 50px;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.4);
}

footer ul {
    list-style: none;
    padding-left: 0;

}

ul li a {
    color: black;
}

.socialIcons {
    text-align: center;
    font-size: 3em;
}

.socialIcons a {
    margin: 0.25em;
}

.socialIcons a.facebook{
    color:  #3b5998;
}

.socialIcons a.twitter {
    color: #1DA1F2;
}

.socialIcons a.linkedin {
    color: #0e76a8;
}

.socialIcons a.instagram {
    color: #fb3958;
}

.socialIcons a.skype {
    color: #00aff0;
}

.footer-copyright{
    background-color: rgb(163, 161, 161);
}

h3{
    color: rgb(146, 46, 46);
    font-weight: bold;
}
h5 {
    color: rgb(146, 46, 46);
    font-weight: bold;
}